# Chargement des donn√©es

In [4]:
import pandas as pd
# Charger le jeu de donn√©es
df = pd.read_csv("dataset/livres_bruts.csv")#Bib-Readers-project-main\dataset\livres_bruts.csv

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             1000 non-null   object
 1   Description       1000 non-null   object
 2   Price             1000 non-null   float64
 3   Availability      1000 non-null   object
 4   Image_URL         1000 non-null   object
 5   Rating            1000 non-null   int64
 6   availability_num  1000 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 54.8+ KB

In [6]:
df.describe()

            Price       Rating  availability_num
count  1000.00000  1000.000000       1000.000000
mean     35.07035     2.923000          8.585000
std      14.44669     1.434967          5.654622
min      10.00000     1.000000          1.000000
25%      22.10750     2.000000          3.000000
50%      35.98000     3.000000          7.000000
75%      47.45750     4.000000         14.000000
max      59.99000     5.000000         22.000000

1000 lignes ‚Üí donc 1000 livres dans ton dataset.
7 colonnes :

- Title (str) ‚Üí titre du livre
- Description (str) ‚Üí r√©sum√©
- Price (float64) ‚Üí prix du livre
- Availability (str) ‚Üí texte indiquant si le livre est en stock
- Image_URL (str) ‚Üí lien de l‚Äôimage de couverture
- Rating (int64) ‚Üí note (de 1 √† 5)
- availability_num (int64) ‚Üí nombre d‚Äôexemplaires disponibles

aucune donn√©e manquante dans ce dataset

üìå Price
- 25 % des livres co√ªtent ‚â§ 22.11 ¬£
- 25 % des livres co√ªtent ‚â• 47.46 ¬£

üìå Rating
- 25 % des livres ont ‚â§ 2 √©toiles --> 25%
- 25 % des livres ont ‚â• 4 √©toiles --> 75%

üìå availability_num
- 25 % des livres ont ‚â§ 3 exemplaires --> 25%
- 25 % des livres ont ‚â• 14 exemplaires --> 75%

**Dataset complet** ‚Üí pas de valeurs manquantes.<br>
**Prix** : distribution relativement large (10 ¬£ √† 60 ¬£).<br>
**Notes** : centr√©es autour de 3 √©toiles, avec une bonne proportion de 4 et 5.<br>
**Stock** : tr√®s variable, certains livres en quantit√© limit√©e (1 ou 2), d‚Äôautres en grande quantit√© (jusqu‚Äô√† 22).

In [7]:
df.head()

,Title,Description,Price,Availability,Image_URL,Rating,availability_num
0,A Light in the Attic,Its hard to imagine a world without A Light in...,51.77,In stock (22 available),https://books.toscrape.com/media/cache/fe/72/f...,3,22
1,Tipping the Velvet,Erotic and absorbing...Written with starling p...,53.74,In stock (20 available),https://books.toscrape.com/media/cache/08/e9/0...,1,20
2,Soumission,"Dans une France assez proche de la n√¥tre, un h...",50.10,In stock (20 available),https://books.toscrape.com/media/cache/ee/cf/e...,1,20
3,Sharp Objects,"WICKED above her hipbone, GIRL across her hear...",47.82,In stock (20 available),https://books.toscrape.com/media/cache/c0/59/c...,4,20
4,Sapiens: A Brief History of Humankind,From a renowned historian comes a groundbreaki...,54.23,In stock (20 available),https://books.toscrape.com/media/cache/ce/5f/c...,5,20

# Pr√©paration du mod√®le de recommandation (similarit√© cosinus)

Charger les descriptions nettoy√©es depuis la base de donn√©es

In [8]:
# 2. Charger les descriptions nettoy√©es
df.Description

0      Its hard to imagine a world without A Light in...
1      Erotic and absorbing...Written with starling p...
2      Dans une France assez proche de la n√¥tre, un h...
3      WICKED above her hipbone, GIRL across her hear...
4      From a renowned historian comes a groundbreaki...
                             ...
995                                   Pas de description
996    High school student Kei Nagai is struck dead i...
997    In Englands Regency era, manners and elegance ...
998    James Patterson, bestselling author of the Ale...
999    Around the World, continent by continent, here...
Name: Description, Length: 1000, dtype: object

**1. Convertir tout le texte en minuscules : text.lower().**

In [9]:
df['Description'] = df['Description'].str.lower()
df['Description'].head(10)

0    its hard to imagine a world without a light in...
1    erotic and absorbing...written with starling p...
2    dans une france assez proche de la n√¥tre, un h...
3    wicked above her hipbone, girl across her hear...
4    from a renowned historian comes a groundbreaki...
5    patient twenty-nine.a monster roams the halls ...
6    drawing on his extensive experience evaluating...
7    if you have a heart, if you have a soul, karen...
8    for readers of laura hillenbrands seabiscuit a...
9    praise for aracelis girmay:girmays every losss...
Name: Description, dtype: object

# Appliquer la tokenisation : nltk.word_tokenize(text)

- Suppression de la ponctuation, caract√®res sp√©ciaux et chiffres
- Tokenisation
- Stemming
- Vectorisation avec TF-IDF

**4. Supprimer les stopwords (mots vides) avec nltk.corpus.stopwords.words('english').**

In [10]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stopwords_en = set(stopwords.words('english'))
stopwords_fr = set(stopwords.words('french'))
stopwords_combined = stopwords_en.union(stopwords_fr)

def remove_stopwords(text):
    tokens = word_tokenize(text) # Tokenisation du texte
    filtered_tokens = [word for word in tokens if word not in stopwords_combined] # Filtrer les stopwords
    return " ".join(filtered_tokens) # Reconstruire la phrase

# Appliquer la fonction de suppression des stopwords √† la colonne 'text'
df['Description'] = df['Description'].apply(remove_stopwords)

# Afficher les premi√®res lignes pour v√©rifier le r√©sultat
df['Description'].head(20)

0     hard imagine world without light attic . now-c...
1     erotic absorbing ... written starling power. -...
2     france assez proche n√¥tre , homme sengage carr...
3     wicked hipbone , girl across heart words like ...
4     renowned historian comes groundbreaking narrat...
5     patient twenty-nine.a monster roams halls soot...
6     drawing extensive experience evaluating applic...
7     heart , soul , karen hicks coming woman make f...
8     readers laura hillenbrands seabiscuit unbroken...
9     praise aracelis girmay : girmays every lossshe...
10    since assault , miss annette chetwynd plagued ...
11    book important complete collection sonnets wil...
12    aaron ledbetters future planned since born . y...
13    scott pilgrims life totally sweet . hes 23 yea...
14    punks raw power rejuvenated rock , summer 1977...
15    never-before-told story musical revolution hap...
16    part fact , part fiction , tyehimba jesss much...
17    andrew barger , award-winning author engineer ...
18    libertarianism isnt winning elections ; first ...
19    wherever go , whatever , . . . dont anything s...
Name: Description, dtype: object

**5. Appliquer lemming ade NLTK pour r√©duire les mots √† leur racine.**

In [13]:
import nltk

nltk.download('wordnet')                 # Pour lemmatizer
nltk.download('omw-1.4')                 # Dictionnaire multilingue pour WordNet
nltk.download('punkt')                   # Tokenizer
nltk.download('averaged_perceptron_tagger')  # POS tagger requis par pos_tag
nltk.download('averaged_perceptron_tagger_eng')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\naoui\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\naoui\AppData\Roaming\nltk_data...
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\naoui\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\naoui\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\naoui\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger_eng.zip.

True

In [14]:
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk import pos_tag, word_tokenize
from nltk.corpus import wordnet

lemmatizer_en = WordNetLemmatizer()
stemmer_fr = SnowballStemmer('french')

def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

def preprocess_text(text):
    # Tokeniser
    tokens = word_tokenize(text.lower())

    # Supprimer stopwords
    tokens = [t for t in tokens if t.isalpha() and t not in stopwords_combined]

    # Pos tagging anglais (utile pour lemmatization anglaise)
    pos_tags = pos_tag(tokens)

    processed_tokens = []
    for token, tag in pos_tags:
        if token in stopwords_en:
            continue
        if token in stopwords_fr:
            # pour le fran√ßais : stemmer simple (car pas de lemmatiseur fiable dans NLTK)
            processed_tokens.append(stemmer_fr.stem(token))
        else:
            # anglais : lemmatisation avec POS
            wn_tag = get_wordnet_pos(tag)
            processed_tokens.append(lemmatizer_en.lemmatize(token, wn_tag))

    return processed_tokens

# Appliquer sur la colonne
df['Description_processed'] = df['Description'].apply(preprocess_text)

df[['Description', 'Description_processed']].head(20)

,Description,Description_processed
0,hard imagine world without light attic . now-c...,"[hard, imagine, world, without, light, attic, ..."
1,erotic absorbing ... written starling power. -...,"[erotic, absorb, write, starling, power, new, ..."
2,"france assez proche n√¥tre , homme sengage carr...","[france, assez, proche, n√¥tre, homme, sengage,..."
3,"wicked hipbone , girl across heart words like ...","[wicked, hipbone, girl, across, heart, word, l..."
4,renowned historian comes groundbreaking narrat...,"[renowned, historian, come, groundbreaking, na..."
5,patient twenty-nine.a monster roams halls soot...,"[patient, monster, roams, hall, soothe, hill, ..."
6,drawing extensive experience evaluating applic...,"[draw, extensive, experience, evaluate, applic..."
7,"heart , soul , karen hicks coming woman make f...","[heart, soul, karen, hicks, come, woman, make,..."
8,readers laura hillenbrands seabiscuit unbroken...,"[reader, laura, hillenbrands, seabiscuit, unbr..."
9,praise aracelis girmay : girmays every lossshe...,"[praise, aracelis, girmay, girmays, every, los..."
10,"since assault , miss annette chetwynd plagued ...","[since, assault, miss, annette, chetwynd, plag..."
11,book important complete collection sonnets wil...,"[book, important, complete, collection, sonnet..."
12,aaron ledbetters future planned since born . y...,"[aaron, ledbetter, future, plan, since, bear, ..."
13,scott pilgrims life totally sweet . hes 23 yea...,"[scott, pilgrims, life, totally, sweet, he, ye..."
14,"punks raw power rejuvenated rock , summer 1977...","[punk, raw, power, rejuvenate, rock, summer, m..."
15,never-before-told story musical revolution hap...,"[story, musical, revolution, happen, right, no..."
16,"part fact , part fiction , tyehimba jesss much...","[part, fact, part, fiction, tyehimba, jesss, m..."
17,"andrew barger , award-winning author engineer ...","[andrew, barger, author, engineer, extensively..."
18,libertarianism isnt winning elections ; first ...,"[libertarianism, isnt, win, election, first, f..."
19,"wherever go , whatever , . . . dont anything s...","[wherever, go, whatever, dont, anything, stupi..."

# Extraction des caract√©ristiques

**1. Vectoriser le texte √† l‚Äôaide de TfidfVectorizer()**

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
import pandas as pd
import os

# Supposons que ta colonne pr√©-trait√©e s'appelle 'Description_processed'
# Elle contient des listes de tokens, il faut les convertir en cha√Ænes de caract√®res
df['Description_processed_text'] = df['Description_processed'].apply(lambda tokens: ' '.join(tokens))

# Initialiser le vectorizer TF-IDF
tfidf_vectorizer = TfidfVectorizer(max_features=5000)

# Appliquer fit_transform sur les descriptions pr√©trait√©es (texte)
X = tfidf_vectorizer.fit_transform(df['Description_processed_text'])

# Obtenir les noms des caract√©ristiques (features)
feature_names = tfidf_vectorizer.get_feature_names_out()

# Convertir la matrice TF-IDF en DataFrame pour exploration si besoin
tfidf_df = pd.DataFrame(X.toarray(), columns=feature_names)

# Affichage des informations
print(f"Forme de la matrice TF-IDF (Nombre de documents, Nombre de features) : {X.shape}")
print(f"Type de la matrice TF-IDF : {type(X)}")
print("Aper√ßu du DataFrame TF-IDF :")
print(tfidf_df.head())

# Sauvegarder le vectorizer pour r√©utilisation future
if not os.path.exists('models'):
    os.makedirs('models')

joblib.dump(tfidf_vectorizer, 'models/tfidf_vectorizer.pkl')
print("Vectorizer TF-IDF sauvegard√© sous 'models/tfidf_vectorizer.pkl'")

print("\n--- Vectorisation TF-IDF termin√©e ---")

Forme de la matrice TF-IDF (Nombre de documents, Nombre de features) : (1000, 5000)
Type de la matrice TF-IDF : <class 'scipy.sparse._csr.csr_matrix'>
Aper√ßu du DataFrame TF-IDF :
   aaron  abandon  abbot  abby  abduction  abigail   ability  able  abound  \
0    0.0      0.0    0.0   0.0        0.0      0.0  0.000000   0.0     0.0
1    0.0      0.0    0.0   0.0        0.0      0.0  0.000000   0.0     0.0
2    0.0      0.0    0.0   0.0        0.0      0.0  0.000000   0.0     0.0
3    0.0      0.0    0.0   0.0        0.0      0.0  0.000000   0.0     0.0
4    0.0      0.0    0.0   0.0        0.0      0.0  0.069156   0.0     0.0

   abraham  ...  yuki  zeal  zero  zeus  zimbardo  zodiac  zombie  zone  \
0      0.0  ...   0.0   0.0   0.0   0.0       0.0     0.0     0.0   0.0
1      0.0  ...   0.0   0.0   0.0   0.0       0.0     0.0     0.0   0.0
2      0.0  ...   0.0   0.0   0.0   0.0       0.0     0.0     0.0   0.0
3      0.0  ...   0.0   0.0   0.0   0.0       0.0     0.0     0.0   0.0
4      0.0  ...   0.0   0.0   0.0   0.0       0.0     0.0     0.0   0.0

   zorin  zuko
0    0.0   0.0
1    0.0   0.0
2    0.0   0.0
3    0.0   0.0
4    0.0   0.0

[5 rows x 5000 columns]
Vectorizer TF-IDF sauvegard√© sous 'models/tfidf_vectorizer.pkl'

--- Vectorisation TF-IDF termin√©e ---

In [16]:
tfidf_df.head(20).round(30)

,aaron,abandon,abbot,abby,abduction,abigail,ability,able,abound,abraham,...,yuki,zeal,zero,zeus,zimbardo,zodiac,zombie,zone,zorin,zuko
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.069156,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.520509,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

 --- Vectorisation du texte avec TfidfVectorizer ---

- Instancier le TfidfVectorizer
- On utilise max_features pour limiter le vocabulaire et rendre le mod√®le plus g√©rable

- Adapter (fit) le vectorizer aux donn√©es d'entra√Ænement et transformer le texte
- 'final_text_for_vectorization' est la colonne qui contient le texte nettoy√©, tokenis√© et stemm√©

- **Term Frequency (TF)** : Il s'agit simplement du nombre de fois qu'un mot appara√Æt dans un email. Un mot qui appara√Æt fr√©quemment dans un document a une valeur TF √©lev√©e.

- **Inverse Document Frequency (IDF)** : Cette mesure √©value l'importance d'un mot dans l'ensemble du corpus d'emails. Un mot qui est tr√®s commun et appara√Æt dans de nombreux documents (comme "le", "la", "un", qui sont des stopwords) aura une valeur IDF faible, car il n'est pas tr√®s discriminant. √Ä l'inverse, un mot rare qui n'appara√Æt que dans un petit nombre d'emails (comme "urgent", "gagner" pour les spams) aura une valeur IDF √©lev√©e.

- **Le score TF-IDF** est le produit de ces deux valeurs (TF√óIDF). Cela a pour effet de donner un poids √©lev√© aux mots qui sont fr√©quents dans un email sp√©cifique mais rares dans l'ensemble du corpus. Par cons√©quent, les mots pertinents pour la classification, tels que "gratuit" dans un spam, recevront un poids plus important que des mots g√©n√©riques comme "bonjour" ou "email".


#  Similarit√© entre livres (Recommandation basique)  

Nous allons utiliser les **descriptions des livres** pour calculer une mesure de similarit√© :  

1. **TF-IDF** : transformer les descriptions en vecteurs num√©riques.  
2. **Similarit√© cosinus** : mesurer la ressemblance entre les livres.  

Cela servira de base pour un **syst√®me de recommandation**.

In [18]:
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
import seaborn as sns

cosine_sim = cosine_similarity(X)
cosine_sim_df = pd.DataFrame(cosine_sim, index=df.index, columns=df.index)
print("Matrice de similarit√© cosinus :")
cosine_sim_df.head(20)

Matrice de similarit√© cosinus :

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,0.009794,0.000000,0.013485,0.002102,0.002186,0.015258,0.014283,0.022232,0.040587,...,0.021126,0.027753,0.004372,0.000000,0.022581,0.000000,0.000000,0.002485,0.008397,0.017007
1,0.009794,1.000000,0.000000,0.024254,0.017584,0.088155,0.013077,0.025107,0.015388,0.027401,...,0.029493,0.009629,0.010430,0.006486,0.010622,0.000000,0.039042,0.055556,0.039841,0.033141
2,0.000000,0.000000,1.000000,0.019266,0.000000,0.000000,0.000000,0.015412,0.000000,0.011638,...,0.000000,0.000000,0.000000,0.000000,0.014425,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.013485,0.024254,0.019266,1.000000,0.053206,0.026619,0.026422,0.043533,0.015041,0.029409,...,0.015490,0.029058,0.015973,0.009564,0.014108,0.000000,0.019227,0.017010,0.057315,0.003335
4,0.002102,0.017584,0.000000,0.053206,1.000000,0.000979,0.023519,0.041918,0.017537,0.030196,...,0.011916,0.020792,0.014494,0.025659,0.010768,0.000000,0.057197,0.007341,0.041775,0.028889
5,0.002186,0.088155,0.000000,0.026619,0.000979,1.000000,0.005837,0.061088,0.005372,0.042171,...,0.005515,0.009331,0.021473,0.065527,0.004770,0.000000,0.058852,0.011575,0.024447,0.012554
6,0.015258,0.013077,0.000000,0.026422,0.023519,0.005837,1.000000,0.022688,0.036283,0.030947,...,0.005920,0.043139,0.024283,0.034666,0.024898,0.000000,0.045545,0.004767,0.056862,0.033813
7,0.014283,0.025107,0.015412,0.043533,0.041918,0.061088,0.022688,1.000000,0.040819,0.037584,...,0.025221,0.089851,0.046822,0.055882,0.009593,0.000000,0.034537,0.035226,0.111070,0.023747
8,0.022232,0.015388,0.000000,0.015041,0.017537,0.005372,0.036283,0.040819,1.000000,0.040318,...,0.020398,0.017760,0.046726,0.010593,0.020210,0.000000,0.000000,0.033262,0.063938,0.037572
9,0.040587,0.027401,0.011638,0.029409,0.030196,0.042171,0.030947,0.037584,0.040318,1.000000,...,0.019665,0.046675,0.022303,0.018146,0.018262,0.000000,0.046527,0.001044,0.021789,0.046214
10,0.000000,0.000000,0.000000,0.017320,0.018931,0.010610,0.011807,0.022681,0.005104,0.003808,...,0.012019,0.014938,0.017228,0.025696,0.013330,0.000000,0.017841,0.009491,0.026739,0.001616
11,0.071217,0.026078,0.000000,0.011311,0.016896,0.007273,0.004799,0.007283,0.016572,0.063170,...,0.031180,0.000000,0.000000,0.000000,0.008796,0.000000,0.000000,0.000000,0.005092,0.041602
12,0.003338,0.014592,0.000000,0.068242,0.030642,0.009615,0.004734,0.016974,0.008984,0.006837,...,0.021896,0.027170,0.000000,0.000000,0.000000,0.000000,0.000000,0.015635,0.002939,0.038018
13,0.000000,0.018374,0.000000,0.037352,0.012910,0.023169,0.076814,0.027005,0.004303,0.026671,...,0.045024,0.085036,0.010713,0.018286,0.020586,0.000000,0.027470,0.008868,0.023007,0.016314
14,0.011916,0.048725,0.000000,0.017568,0.040035,0.022826,0.002279,0.037499,0.000000,0.005357,...,0.029638,0.003137,0.036210,0.006877,0.011766,0.000000,0.046414,0.009845,0.033659,0.000000
15,0.025922,0.032268,0.000000,0.011124,0.019367,0.054254,0.003952,0.028383,0.034796,0.060251,...,0.004558,0.000000,0.020374,0.000000,0.000000,0.000000,0.000000,0.000000,0.003207,0.005800
16,0.053993,0.018427,0.000000,0.008855,0.057014,0.001892,0.013757,0.036168,0.051814,0.101114,...,0.010148,0.021635,0.023704,0.013739,0.006427,0.000000,0.012014,0.007438,0.047633,0.022590
17,0.004977,0.008834,0.000000,0.038873,0.046441,0.000000,0.025567,0.069117,0.068237,0.059628,...,0.009052,0.015456,0.030702,0.007723,0.010548,0.000000,0.016158,0.005257,0.073964,0.046335
18,0.000000,0.005576,0.049776,0.005518,0.055207,0.001589,0.018278,0.036603,0.012268,0.016112,...,0.033394,0.015926,0.017179,0.014383,0.019893,0.180631,0.006267,0.003783,0.020507,0.012532
19,0.022590,0.013787,0.000000,0.008418,0.006179,0.023661,0.009714,0.021057,0.014347,0.019906,...,0.000917,0.057172,0.015570,0.002285,0.015553,0.000000,0.015496,0.014581,0.018602,0.012959

In [19]:


# Fonction de recommandation
def recommend_books(book_index, top_n=5):
    similarities = cosine_sim[book_index]
    similar_indices = similarities.argsort()[::-1][1:top_n+1]  # Exclure le livre lui-m√™me
    return df.iloc[similar_indices][['Description']]

# Exemple : recommander 5 livres pour le premier livre
recommend_books(0, top_n=5)

                                           Description
220  kind creative . everyone creative core . every...
39   poetry harrowing , angry , achingly beautiful ...
909  drawn intimate personal associations , pablo n...
444  consistently entertaining courtesy rabins humo...
269  salt journey warmth sharpness . collection poe...

In [20]:
# Sauvegarder le vectorizer pour r√©utilisation future
if not os.path.exists('models'):
    os.makedirs('models')

joblib.dump(cosine_sim, 'models/cosine_sim.pkl')

['models/cosine_sim.pkl']